<section
  class="w-full min-h-screen p-4 bg-gray-900 animate__animated animate__fadeIn"
>
  <h1 class="text-white py-5 rounded cursor-pointer text-xl font-semibold">
    Por {{ title }}
  </h1>

  <div class="w-full relative">
    <app-pais-input
      [title]="title"
      (term)="handleTerm($event)"
      (onDebounce)="sugerencias($event)"
    ></app-pais-input>

    <ul
    *ngIf="paisesSugeridos.length>0"
      class="divide-y divide-gray-200 dark:divide-gray-700 px-2 absolute mt-1 w-full bg-gray-700 z-30"
    >
      <li
        *ngFor="let pais of paisesSugeridos"
        class="py-3 sm:py-4 hover:bg-gray-600 hover:cursor-pointer"
      >
        <a [routerLink]="['../pais', pais.cca2]">
          <div class="flex items-center space-x-4">
            <div class="flex-shrink-0">
              <img
                class="w-10 h-10 rounded-full object-cover"
                [src]="pais.flags.svg"
                alt="Neil image"
              />
            </div>
            <div class="flex-1 min-w-0">
              <p
                class="text-sm font-medium text-gray-900 truncate dark:text-white"
              >
                {{ pais.name.official }}
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                {{ pais.capital }}
              </p>
            </div>
          </div>
        </a>
      </li>
      <a (click)="handleTerm(termino_sugerido)" class="text-white hover:bg-gray-500 block hover:cursor-pointer">
        <h2 class="py-2 text-lg">Buscar termino: "{{termino_sugerido}}"</h2>
      </a>
    </ul>
  </div>

  <hr class="my-3" />

  <!-- alert danger tailwind -->
  <div class="w-full" *ngIf="hayError">
    <div
      class="w-full h-16 bg-red-400 hover:bg-red-500 hover:cursor-pointer transition rounded-xl flex items-center justify-center gap-1 px-3"
    >
      <!-- icon warning fontawesome -->
      <i class="fas fa-exclamation-circle text-white text-2xl"></i>
      <h3 class="font-semibold text-white text-xl">
        No se encontro nada con el termino {{ term_Country }}
      </h3>
    </div>
  </div>
  <!-- validar array vacio -->
  <div class="w-full" *ngIf="paises.length !== 0">
    <app-pais-table *ngIf="!hayError" [paises]="paises"></app-pais-table>
  </div>
</section>
